<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iBot - Home</title>
    <style>
      .table td {
        border: black solid 1px !important
      }
      .table th {
        border: black solid 1px !important
    }</style>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <!-- Nav-bar -->
    <% include parts/header.ejs %>

    <!-- Eval input -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <form action="/admin/eval" method="POST">
          <div class="form-group">
            <h4>Eval</h4>
            <hr>
            <label>Code:</label>
            <textarea rows="3" class="form-control" name="code"></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-lg" formaction="/admin/eval">Eval code</button>
        </form>
      </div>
    </div>

    <!-- Presence change -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <form action="/admin/presence" method="POST">
          <div class="form-group">
            <h4>Presence</h4>
            <hr>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Status</span>
              <input type="text" name="status" class="form-control" placeholder="<%= status %>" aria-label="status" aria-describedby="basic-addon1">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Game</span>
              <input type="text" name="game" class="form-control" placeholder="<%= game %>" aria-label="game" aria-describedby="basic-addon2">
             </div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg" formaction="/admin/presence">Update</button>
        </form>
      </div>
    </div>

      <!-- Mutual guilds with the user -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h4>Servers</h4>
        <hr>
        <div class="table-responsive">
          <table id="servers" class="table table-striped table-condensed table-bordered">
            <thead>
              <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Members</th>
                <th class="text-center">Owner</th>
                <th class="text-center">Leave</th>
              </tr>
            </thead>
            <tbody>
              <% client.guilds.forEach(g => { %>
              <tr>
                <td class="text-center"><span class="nav-item"><a href="/server/<%= g.id %>" style="color: grey;"><%= g.name %></a></span></td>
                <td class="text-center"><%= g.memberCount %></td>
                <td class="text-center"><span class="nav-item"><a href="/user/<%= g.ownerID %>" style="color: grey;"><%= g.owner.user.tag %></a></span></td>
                <td class="text-center"><span class="nav-item"><a href="/admin/leave/<%= g.id %>" style="color: grey;">Leave</a></span></td>
              </tr>
            <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

    <script>
    $(document).ready(() => {
      $('#servers').DataTable();
    });
    </script>

    <!-- Footer -->
    <% include parts/footer.ejs %>
  </body>
</html>