<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iBot - Servers</title>
    <style>
    .table td {
      border: black solid 1px !important
    }
    .table th {
      border: black solid 1px !important
    }</style>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <!-- Nav-bar -->
    <% include parts/header.ejs %>

    <!-- Mutual guilds with the user -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="mbr-section-title mbr-bold mbr-fonts-style text-center"><strong>YOUR MUTUAL SERVERS WITH IBOT</strong></h1>
        <hr>
        <div class="table-responsive">
          <table id="servers" class="table table-striped table-condensed table-bordered">
            <thead>
              <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Members</th>
                <th class="text-center">Owner</th>
              </tr>
            </thead>
            <tbody>
              <% mutualGuilds.forEach(g => { %>
              <tr>
                <td class="text-center"><span class="nav-item"><a href="/server/<%= g.id %>" style="color: grey;"><%= g.name %></a></span></td>
                <td class="text-center"><%= g.memberCount %></td>
                <td class="text-center"><span class="nav-item"><a href="/user/<%= g.ownerID %>" style="color: grey;"><%= g.owner.user.tag %></a></span></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

    <script>
    $(document).ready(() => {
      $('#servers').DataTable();
    });
    </script>

    <!-- Footer -->
    <% include parts/footer.ejs %>
  </body>
</html>