<!DOCTYPE html>
<html lang="en">
  <head>
    <% include parts/head.ejs %>
    <title>iBot - Server</title>
    <style>
    .table td {
      border: black solid 1px !important
    }
    .table th {
      border: black solid 1px !important
    }</style>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
  </head>
  <body>
    <!-- Nav-bar -->
    <% include parts/header.ejs %>

    <!-- Guild presentation -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <img src="<%= (guild.icon) ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128` : 'https://www.shareicon.net/data/512x512/2017/06/21/887435_logo_512x512.png' %>" alt="<%= guild.name %>'s icon" class="rounded-circle" height="150px;" width="150px;" style="display: block; margin-left: auto; margin-right: auto;">
        <h1 class="mbr-section-title mbr-bold mbr-fonts-style text-center"><strong><%= guild.name %></strong></h1>
        <hr>
        <p>
          <strong>ID:</strong> <%= guild.id %><br>
          <strong>Creation date:</strong> <%= guild.createdAt.toUTCString() %><br>
          <strong>Members:</strong> <%= guild.memberCount %> total members (<%= guild.members.filter(m => m.user.bot).size %> bots and <%= guild.members.filter(m => m.user.presence.status === 'online').size %> online)<br>
          <strong>Channels:</strong> <%= guild.channels.filter(c => c.type === 'text').size %> text and <%= guild.channels.filter(c => c.type === 'voice').size %> voice<br>
          <strong>Owner:</strong> <span class="nav-item"><a href="/user/<%= guild.ownerID %>" style="color: grey;"><%= guild.owner.user.tag %></a></span><br>
        </p>  
      </div>
    </div>

    <% if (user.id === '205427654042583040' || (guild.members.has(user.id) && guild.members.get(user.id).hasPermission('MANAGE_GUILD'))) { %>
    <!-- Configuration -->
  
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div id="confStatus" class="alert alert-success" role="alert">

        </div>
        <form id="configUpdate" name="configUpdate" method="post" onsubmit="updateConfig()">
          <h1 class="mbr-section-title mbr-bold mbr-fonts-style text-center"><strong>CONFIGURATION</strong></h1>
          <hr>
          <nav class="nav nav-tabs" id="myTab" role="tablist">
            <a class="nav-item nav-link active" id="channels-tab" data-toggle="tab" href="#channels" role="tab" aria-controls="channels" aria-selected="true">Channels</a>
            <a class="nav-item nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Messages</a>
            <a class="nav-item nav-link" id="switches-tab" data-toggle="tab" href="#switches" role="tab" aria-controls="switches" aria-selected="false">Switches</a>
            <a class="nav-item nav-link" id="misc-tab" data-toggle="tab" href="#misc" role="tab" aria-controls="misc" aria-selected="false">Misc</a>
          </nav>
          <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="channels" role="tabpanel" aria-labelledby="channels-tab">
                <div class="text-center">
                  <p>
                    <img src="https://discordapp.com/assets/593c4a3437fbb5b89fbb148f7b96424d.svg" height="20px" width="20px"> <b>Welcome channel:</b>
                    <select id="channel_welcome" name="channel_welcome" aria-controls="config" class="form-control form-control-sm">
                      <option value="NOT_SET">None</option>
                      <% guild.channels.filter(c => c.type === 'text').sort((a, b) => a.position - b.position).forEach(c => { %>
                      <option value="<%= c.id %>" <% if (config.channel_welcome === c.id) { %>selected<% } %>>#<%= c.name %></option>
                      <% }); %>
                    </select>
                  </p>
                
                  <p>
                    <img src="https://discordapp.com/assets/8367785ae4d4334f1f3371e239059ca1.svg" height="20px" width="20px"> <b>Serverlog channel:</b>
                    <select id="channel_serverlog" name="channel_serverlog" aria-controls="config" class="form-control form-control-sm">
                      <option value="NOT_SET">None</option>
                      <% guild.channels.filter(c => c.type === 'text').sort((a, b) => a.position - b.position).forEach(c => { %>
                      <option value="<%= c.id %>" <% if (config.channel_serverlog === c.id) { %>selected<% } %>>#<%= c.name %></option>
                      <% }); %>
                    </select>
                  </p>
                
                  <p>
                    <img src="https://cdn.discordapp.com/emojis/317093864487780352.png" height="20px" width="20px"> <b>Modlog channel:</b>
                    <select id="channel_modlog" name="channel_modlog" aria-controls="config" class="form-control form-control-sm">
                      <option value="NOT_SET">None</option>
                      <% guild.channels.filter(c => c.type === 'text').sort((a, b) => a.position - b.position).forEach(c => { %>
                      <option value="<%= c.id %>" <% if (config.channel_modlog === c.id) { %>selected<% } %>>#<%= c.name %></option>
                      <% }); %>
                    </select>
                  </p>
                </div>
              </div>
              <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                <div class="text-center">
                  <p>
                    <img src="https://discordapp.com/assets/593c4a3437fbb5b89fbb148f7b96424d.svg" height="20px" width="20px"> <b>Welcome message:</b>
                    <textarea rows="3" class="form-control" id="message_welcome" name="message_welcome"><%= (config.message_welcome !== 'NOT_SET' ? config.message_welcome : 'No message set') %></textarea>
                  </p>
                  <p>
                    <img src="https://discordapp.com/assets/4c231cb7c6f5bb352261a2e0bfa63fb1.svg" height="20px" width="20px"> <b>Leave message:</b>
                    <textarea rows="3" class="form-control" id="message_leaving" name="message_leaving"><%= (config.message_leaving !== 'NOT_SET' ? config.message_leaving : 'No message set') %></textarea>
                  </p>
                </div>
              </div>
              <div class="tab-pane fade" id="switches" role="tabpanel" aria-labelledby="switches-tab">
                <div class="text-center">
                  <p><img src="https://discordapp.com/assets/593c4a3437fbb5b89fbb148f7b96424d.svg" height="20px" width="20px"> <b>Welcome switch:</b> <select id="switch_welcome" name="switch_welcome" aria-controls="config" class="form-control form-control-sm"><option value="1" <% if (config.switch_welcome === 1) { %>selected<% } %>>Enabled</option><option value="0" <% if (config.switch_welcome === 0) { %>selected<% } %>>Disabled</option></select></p>
                  <p><img src="https://discordapp.com/assets/8367785ae4d4334f1f3371e239059ca1.svg" height="20px" width="20px"> <b>Serverlog switch:</b> <select id="switch_serverlog" name="switch_serverlog" aria-controls="config" class="form-control form-control-sm"><option value="1" <% if (config.switch_serverlog === 1) { %>selected<% } %>>Enabled</option><option value="0" <% if (config.switch_serverlog === 0) { %>selected<% } %>>Disabled</option></select></p>
                  <p><img src="https://cdn.discordapp.com/emojis/317093864487780352.png" height="20px" width="20px"> <b>Modlog switch:</b> <select id="switch_modlog" name="switch_modlog" aria-controls="config" class="form-control form-control-sm"><option value="1" <% if (config.switch_modlog === 1) { %>selected<% } %>>Enabled</option><option value="0" <% if (config.switch_modlog === 0) { %>selected<% } %>>Disabled</option></select></p>
                  <p><img src="https://discordapp.com/assets/ba21bae0723b6477627f456c587de6c4.svg" height="20px" width="20px"> <b>Clear-backup switch:</b> <select id="switch_clearbackup" name="switch_clearbackup" aria-controls="config" class="form-control form-control-sm"><option value="1" <% if (config.switch_clearbackup === 1) { %>selected<% } %>>Enabled</option><option value="0" <% if (config.switch_clearbackup === 0) { %>selected<% } %>>Disabled</option></select></p>
                </div>
              </div>
              <div class="tab-pane fade" id="misc" role="tabpanel" aria-labelledby="misc-tab">
                <div class="text-center">
                  <p><img src="https://discordapp.com/assets/be21e06571be73619ebba2e9731abb11.svg" height="20px" width="20px"> <b>Timezone:</b> <select id="timezone" name="timezone" aria-controls="config" class="form-control form-control-sm"><% timezones.forEach(tz => { %><option value="<%= tz %>" <% if (config.timezone === tz) { %>selected<% } %>><%= tz %></option><% }) %></select></p>
                  <p><img src="https://discordapp.com/assets/cf7f3e86b93c14f8e53feac55a1b637f.svg" height="20px" width="20px"> <b>Locale:</b> <select id="locale" name="locale" aria-controls="config" class="form-control form-control-sm"><% Object.keys(guild.client.languages).forEach(l => { %><option value="<%= l %>" <% if (config.locale === l) { %>selected<% } %>><%= l %></option><% }); %></select></p>
                </div>
              </div>
          </div>
          <div class="text-center"><button class="btn btn-primary btn-lg" type="submit">Update</button></div>
      </form>
      </div>

    </div>
    

    <!-- Moderation cases -->
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h1 class="mbr-section-title mbr-bold mbr-fonts-style"><strong>MOD CASES</strong></h1>
        <hr>
        <div class="table-responsive">
          <table id="table" class="table table-bordered">
            <thead>
              <th class="text-center">#</th>
              <th class="text-center">Action</th>
              <th class="text-center">Author</th>
              <th class="text-center">User</th>
              <th class="text-center">Channel</th>
              <th class="text-center">Reason</th>
              <th class="text-center">Date</th>
            </thead>
            <tbody>
              <% config.moderation.forEach((m, index) => { %>
              <tr>
                <td class="text-center"><%= (index + 1) %></td>
                <td class="text-center"><%= m.ACTION %></td>
                <td class="text-center"><span class="nav-item"><a href="/user/<%= m.AUTHOR %>" style="color: grey;">Author</a></span></td>
                <td class="text-center"><span class="nav-item"><a href="/user/<%= m.USER || m.VICTIM %>" style="color: grey;">User</a></span></td>
                <td class="text-center"><%= guild.channels.has(m.CHANNEL) ? `#${guild.channels.get(m.CHANNEL).name}` : 'None' %></td>
                <td class="text-center"><%= m.REASON %></td>
                <td class="text-center"><%= new Date(m.TIME).toISOString() %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script>
    $('#myTab a').on('click', function(e) {
      e.preventDefault()
      $(this).tab('show')
    })

    function updateConfig() {
      const updateRequest = new XMLHttpRequest();

      const sentForm = {
        guildID: '<%= guild.id %>',
      };

      ['channel_welcome', 'channel_serverlog', 'channel_modlog', 'switch_welcome', 'switch_serverlog', 'switch_modlog', 'switch_clearbackup', 'message_welcome', 'message_leaving', 'timezone', 'locale'].forEach(key => {
        sentForm[key] = document.getElementById(key).value;
      });

      updateRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');


      updateRequest.withCredentials = true;
      updateRequest.open('POST', 'https://ibot.idroid.me/api/guild/updateConfig', true);

      console.log(sentForm);

      updateRequest.onload = (e) => {
        if (updateRequest.readyState === 4) {
          if (updateRequest.status === 200) {
            const alert = document.getElementById('confStatus');
            alert.innerHTML = '**Success** - Configuration updated';
          } else {
            alert('An error occured!');
          }
        }
      }

      updateRequest.send(sentForm);
    }
    </script>

    <% } %>

    <!-- Footer -->
    <% include parts/footer.ejs %>

    <!-- Table design -->
    <% include parts/datatable.ejs %>
  </body>
</html>