<!DOCTYPE html>
<html lang="en">
  <head>
    <% include parts/head.ejs %>
    <title>iBot - Server</title>
    <style>
    .table td {
      border: black solid 1px !important
    }
    .table th {
      border: black solid 1px !important
    }</style>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
  </head>
  <body>
    <!-- Nav-bar -->
    <% include parts/header.ejs %>

    <!-- Guild presentation -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <img src="<%= (guild.icon) ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128` : 'https://www.shareicon.net/data/512x512/2017/06/21/887435_logo_512x512.png' %>" alt="<%= guild.name %>'s icon" class="rounded-circle" height="150px;" width="150px;" style="display: block; margin-left: auto; margin-right: auto;">
        <h1 class="mbr-section-title mbr-bold mbr-fonts-style text-center"><strong><%= guild.name %></strong></h1>
        <hr>
        <p>
          <strong>ID:</strong> <%= guild.id %><br>
          <strong>Creation date:</strong> <%= guild.createdAt.toUTCString() %><br>
          <strong>Members:</strong> <%= guild.memberCount %> total members (<%= guild.members.filter(m => m.user.bot).size %> bots and <%= guild.members.filter(m => m.user.presence.status === 'online').size %> online)<br>
          <strong>Channels:</strong> <%= guild.channels.filter(c => c.type === 'text').size %> text and <%= guild.channels.filter(c => c.type === 'voice').size %> voice<br>
          <strong>Owner:</strong> <span class="nav-item"><a href="/user/<%= guild.ownerID %>" style="color: grey;"><%= guild.owner.user.tag %></a></span><br>
        </p>  
      </div>
    </div>

    <% if (user.id === '205427654042583040' || (guild.members.has(user.id) && guild.members.get(user.id).hasPermission('MANAGE_GUILD'))) { %>
    <!-- Configuration -->
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container-fluid">
        <form action="/server/update/<%= guild.id %>" method="POST">
          <h1 class="mbr-section-title mbr-bold mbr-fonts-style"><strong>CONFIGURATION</strong></h1>
          <hr class="fluid">
          <div class="table-responsive">
            <table name="config" class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-center" colspan="3">Channels</th>
                  <th class="text-center" colspan="2">Messages</th>
                  <th class="text-center" colspan="5">Switches</th>
                  <th class="text-center" colspan="2">Misc</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="text-center">Welcome</th>
                  <th class="text-center">Serverlog</th>
                  <th class="text-center">Modlog</th>
                  <th class="text-center">Welcome</th>
                  <th class="text-center">Leaving</th>
                  <th class="text-center">Welcome</th>
                  <th class="text-center">Leaving</th>
                  <th class="text-center">Serverlog</th>
                  <th class="text-center">Modlog</th>
                  <th class="text-center">Clear backup</th>
                  <th class="text-center">Timezone</th>
                  <th class="text-center">Locale</th>
                </tr>
                <tr>
                  <td>
                    <select name="channel_welcome" aria-controls="config" class="form-control form-control-sm">
                      <option value="NOT_SET">None</option>
                      <% guild.channels.filter(c => c.type === 'text').sort((a, b) => a.position - b.position).forEach(c => { %>
                        <option value="<%= c.id %>" <% if (config.channel_welcome === c.id) { %>selected<% } %>>#<%= c.name %></option>
                      <% }); %>
                    </select>
                  </td>
                  <td>
                    <select name="channel_serverlog" aria-controls="config" class="form-control form-control-sm">
                      <option value="NOT_SET">None</option>
                      <% guild.channels.filter(c => c.type === 'text').sort((a, b) => a.position - b.position).forEach(c => { %>
                      <option value="<%= c.id %>" <% if (config.channel_serverlog === c.id) { %>selected<% } %>>#<%= c.name %></option>
                      <% }); %>
                    </select>
                  </td>
                  <td>
                    <select name="channel_modlog" aria-controls="config" class="form-control form-control-sm">
                      <option value="NOT_SET">None</option>
                      <% guild.channels.filter(c => c.type === 'text').sort((a, b) => a.position - b.position).forEach(c => { %>
                      <option value="<%= c.id %>" <% if (config.channel_modlog === c.id) { %>selected<% } %>>#<%= c.name %></option>
                      <% }); %>
                    </select>
                  </td>

                  <td><textarea rows="3" class="form-control" name="message_welcome"><%= (config.message_welcome !== 'NOT_SET' ? config.message_welcome : 'No message set') %></textarea></td>
                  <td><textarea rows="3" class="form-control" name="message_leaving"><%= (config.message_leaving !== 'NOT_SET' ? config.message_leaving : 'No message set') %></textarea></td>

                  <td>
                    <select name="switch_welcome" aria-controls="config" class="form-control form-control-sm">
                      <option value="1" <% if (config.switch_welcome === 1) { %>selected<% } %>>Enabled</option>
                      <option value="0" <% if (config.switch_welcome === 0) { %>selected<% } %>>Disabled</option>
                    </select>
                  </td>
                  <td>
                    <select name="switch_leaving" aria-controls="config" class="form-control form-control-sm">
                      <option value="1" <% if (config.switch_leaving === 1) { %>selected<% } %>>Enabled</option>
                      <option value="0" <% if (config.switch_leaving === 0) { %>selected<% } %>>Disabled</option>
                    </select>
                  </td>
                  <td>
                    <select name="switch_serverlog" aria-controls="config" class="form-control form-control-sm">
                      <option value="1" <% if (config.switch_serverlog === 1) { %>selected<% } %>>Enabled</option>
                      <option value="0" <% if (config.switch_serverlog === 0) { %>selected<% } %>>Disabled</option>
                    </select>
                  </td>
                  <td>
                    <select name="switch_modlog" aria-controls="config" class="form-control form-control-sm">
                      <option value="1" <% if (config.switch_modlog === 1) { %>selected<% } %>>Enabled</option>
                      <option value="0" <% if (config.switch_modlog === 0) { %>selected<% } %>>Disabled</option>
                    </select>
                  </td>
                  <td>
                    <select name="switch_clearbackup" aria-controls="config" class="form-control form-control-sm">
                      <option value="1" <% if (config.switch_clearbackup === 1) { %>selected<% } %>>Enabled</option>
                      <option value="0" <% if (config.switch_clearbackup === 0) { %>selected<% } %>>Disabled</option>
                    </select>
                  </td>

                  <td><input type="text" name="timezone" class="form-control" placeholder="<%= config.timezone %>" value="<%= config.timezone %>" aria-label="status" aria-describedby="basic-addon1"></td>
                  <td>
                    <select name="locale" aria-controls="config" class="form-control form-control-sm">
                      <% Object.keys(guild.client.languages).forEach(l => { %>
                      <option value="<%= l %>" <% if (config.locale === l) { %>selected<% } %>><%= l %></option>
                      <% }); %>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="submit" class="btn btn-primary btn-lg" formaction="/server/update/<%= guild.id %>">Update</button>
        </form>
      </div>
    </div>

    <!-- Moderation cases -->
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h1 class="mbr-section-title mbr-bold mbr-fonts-style"><strong>MOD CASES</strong></h1>
        <hr>
        <div class="table-responsive">
          <table id="modcases" class="table table-bordered">
            <thead>
              <th class="text-center">#</th>
              <th class="text-center">Action</th>
              <th class="text-center">Author</th>
              <th class="text-center">User</th>
              <th class="text-center">Channel</th>
              <th class="text-center">Reason</th>
              <th class="text-center">Date</th>
            </thead>
            <tbody>
              <% config.moderation.forEach((m, i) => { %>
              <tr>
                <td class="text-center"><%= (i + 1) %></td>
                <td class="text-center"><%= m.ACTION %></td>
                <td class="text-center"><span class="nav-item"><a href="/user/<%= m.AUTHOR %>" style="color: grey;">Author</a></span></td>
                <td class="text-center"><span class="nav-item"><a href="/user/<%= m.USER || m.VICTIM %>" style="color: grey;">User</a></span></td>
                <td class="text-center"><%= guild.channels.has(m.CHANNEL) ? `#${guild.channels.get(m.CHANNEL).name}` : 'None' %></td>
                <td class="text-center"><%= m.REASON %></td>
                <td class="text-center"><%= new Date(m.TIME).toISOString() %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

    <script>
    $(document).ready(() => {
      $('#modcases').DataTable();
    });
    </script>

    <% } %>

    <!-- Footer -->
    <% include parts/footer.ejs %>
  </body>
</html>